<div class="row">
  <div class="col-md-10 col-md-offset-1 ">

    <div class="row">
      <!-- FIRST COLUMN BEGIN -->
      <div class="col-md-6 ">

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-6">
                    Basic Information
                  </div>
                  <div class="cold-md-6 tar">
                    {{#if editBasic}}
                      <button value="Reset" class="btn btn-info btn-sm bradius30" {{action 'toggleEditBasic'}}>Cancel</button>
                      <button value="Submit" class="btn btn-primary btn-sm bradius30" {{action 'saveMember'}}>Save</button>
                    {{else}}
                      <button value="Edit" class="btn btn-primary btn-sm bradius30" {{action 'toggleEditBasic'}}>Edit</button>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>Member Number</td>
                      <td class="table-data">{{model.memberNumber}}</td>
                    </tr>
                    <tr>
                      <td>First Name</td>
                      <td class="table-data">
                      {{#if editBasic}}
                        {{input type="text" placeholder="First Name" id="firstName" value=model.firstName}}
                      {{else}}
                        {{model.firstName}}
                      {{/if}}
                      </td>
                    </tr>
                    <tr>
                      <td>Last Name</td>
                      <td class="table-data">{{model.lastName}}</td>
                    </tr>
                    <tr>
                      <td>DOB</td>
                      <td class="table-data">{{model.dob}}</td>
                    </tr>
                    <tr>
                     <td>SSN</td>
                     <td class="table-data">{{model.ssn}}</td>
                   </tr>
                   <tr>
                     <td>Gender</td>
                     <td class="table-data">{{model.gender}}</td>
                   </tr>
                   <tr>
                     <td>Marital Status</td>
                     <td class="table-data">{{model.maritalStatus}}</td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>

       <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default ">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                  Identifications
                </div>
                <div class="cold-md-6 tar">
                  <button value="Edit" class="btn btn-primary btn-sm bradius30">Edit</button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              {{#each model.identification as |id|}}
              <table class="table  table-hover multi-table">
                <thead>
                  <tr>
                    <th>{{id.type}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Number</td>
                    <td class="table-data">{{id.number}}</td>
                  </tr>
                  <tr>
                    <td>Valid</td>
                    <td class="table-data">{{id.valid}}</td>
                  </tr>
                </tbody>
              </table>
              {{/each}}
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- /FIRST COLUMN END -->


    <!-- SECOND COLUMN BEGIN -->
    <div class="col-md-6">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                  Military Information
                </div>
                <div class="cold-md-6 tar">
                  <button value="Edit" class="btn btn-primary btn-sm bradius30">Edit</button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Military Branch</td>
                    <td class="table-data">{{model.military.branch}}</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td class="table-data">{{model.military.status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                  Contact Information
                </div>
                <div class="cold-md-6 tar">
                  <button value="Edit" class="btn btn-primary btn-sm bradius30">Edit</button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Email</td>
                    <td class="table-data">{{model.email}}</td>
                  </tr>
                  <tr>
                    <td>Home Phone</td>
                    <td class="table-data">{{model.homePhone}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                  Products
                </div>
                <div class="cold-md-6 tar">
                  {{#if model.product}}
                    <button value="Edit" class="btn btn-primary btn-sm bradius30">Edit</button>
                  {{/if}}
                </div>
              </div>
            </div>
            <div class="panel-body">
              {{#each model.product as |product|}}
              <table class="table table-hover multi-table">
                <thead>
                  <tr>
                    <th>{{product.type}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Number</td>
                    <td class="table-data">{{product.number}}</td>
                  </tr>
                </tbody>
              </table>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- / SECOND COLUMN END -->
  </div>

</div>
</div>